<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/logo_fundo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Suporte</title>
</head>
<body>
	<main>
        <div class="conteudo">
            <h1>Suporte Balaroti</h1>
            <img src="../static/images/logo.ico" alt="Logo_Balaroti">
            <h1>Sua casa em primeiro lugar</h1>
        </div>
    </main>
 
    <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="bi bi-list"></i>
        </div>
        <ul>
            <li>
                <a href="/consulta_cupom">
                    <span class="icon"><i class="bi-three-dots-vertical"></i></span>
                    <span class="txt-link">Consulta cupom</span>
                </a>
            </li>
            <li>
                <a href="/verificar_lojas">
                    <span class="icon"><i class="bi bi-three-dots-vertical"></i></span>
                    <span class="txt-link">Verificar lojas</span>
                </a>
            </li>
            <li>
                <a href="/tutorial">
                    <span class="icon"><i class="bi bi-three-dots-vertical"></i></span>
                    <span class="txt-link">Tutoriais</span>
                </a>
            </li>
            <li>
                <a href="Tela_de_liberacoes" target="_blank">
                    <span class="icon"><i class="bi bi-three-dots-vertical"></i></span>
                    <span class="txt-link">Liberações</span>
                </a>
            </li>
            <li>
                <a href="/lista_loja">
                    <span class="icon"><i class="bi bi-three-dots-vertical"></i></span>
                    <span class="txt-link">Lista lojas</span>
                </a>
            </li>
            <li>
                <a href="/links">
                    <span class="icon"><i class="bi bi-three-dots-vertical"></i></span>
                    <span class="txt-link">Links</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>