<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/logo_fundo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/links.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Links</title>
</head>
<body>
    <main>
        <h1>Links mais utilizados</h1>
        <hr>
        <ul>
            {% for link, nome in links %}
                <li>
                    <a href="{{ link }}" target="_blank" class="links">{{ nome }}</a>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <a href="/"><button class="botao">Voltar</button></a>
    </main>
</body>
</html>